extends layout

block content
    div.container
        div.header
            h1= title
        div.header_link
            a#phone_link(href="/phone") Phone page
        div.sip
            h2 SIP:
            ul
                li Number: #{callNumber}
                li URI: #{sipUri}
                li WS: #{sipWsUri}
                li stun: #{stunUri}
        div.log
            textarea.text_log(name="log")
        div.media

            h2 Media:
            h3 Stream URI:
            input.text_uri(type="text", name="uri", required="true", placeholder="URI", value="https://cameras.inetcom.ru/hls/camera12_2.m3u8")
            br
            button.btn_start(type="button", disabled="true") Start media streaming
            br
            button.btn_stop(type="button", disabled="true") Stop media streaming
        div.footer
            p Copyright 2019


    script(src='/javascripts/main.js')